.hello{
    margin-top: 200px;
}

.para{
    margin-top: 30px;
}
.myskills{
    /* margin-top: 800px; */
    margin-left: 200px;
    text-transform: capitalize;
    color: aliceblue;
}

.height-100{
    /* height: 900px; */
    /* margin-left: 100px */
}

.wi{
    width: 50%;
}   

.web{
    /* margin-left: 100px; */
    display: flex;
    margin-top: 50px;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 20px;
}

.blk{
    color: black;
}

.left{
    margin-left: 200px;
}

.leftdata{
    margin-left: 120px;
}

.innerleft{
    margin-left: 30px;
}

.border{
    border: 1px solid black;
    border-style: dashed;
    /* width: 100px; */
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: antiquewhite;
    color: black;
}

.innerleftframe{
    margin-left: 50px;
}


.toolsleft{
    margin-left: 220px;
}

.universityleft{
    margin-left: 170px;
}


.collageleft{
    margin-left: 190px;
}


.schoolleft{
    margin-left: 200px;
}

.margintop-10{
    margin-top: 40px;
}

.h:hover{
    background-color: rgb(27, 9, 9);
    display: block;
    color: wheat;
}


/* contact css */


