

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Oswald&family=Passions+Conflict&family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Satisfy&display=swap');
.headers{
    color:aliceblue;
    /* margin-left: 100px; */
    /* margin-bottom: 40px; */
    height: 80px;
    display: flex;
    position: fixed;
    top:0px;
    background-color: rgb(48, 43, 43);
    /* width: auto; */
    /* flex-basis: 30%; */
    width: 100%;
    /* align-content: flex-end; */
    /* justify-content:space-around; */
    margin-left: 00px;

    align-items: center;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    /* text-align: center;  */
   /* margin-left: 100px; */

}
.margin-left-30px{
    margin-left: 80px;
}
/* 
.lef{
    margin-left: 500px;
} */

/* .about{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    background-color: rgb(48, 43, 43);
    justify-content: flex-start;
} */

/* .img{
    height: 100%;
    width: 50%;
    color:rgb(249, 236, 236);
    margin-top: -30px;
  
    
} */

.innerimg{
    margin-top: 120px;
}
.margin-left-20{
    margin-left: 20%;
}

.margin-left-23{
    margin-left: 23%;
}
.margin-left-26{
    margin-left: 26%;
}
.margin-left-30{
    margin-left: 30%;
}

.margin-top-10{
    margin-top: 10px;
}

.nameSize{
    font-size: 100px;
}

.nameSizeother{
    font-size: 30px;
}

.backimg{
    background-image: url("../public/anil_profile.png");
    /* background-size: 50% 50%; */
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    /* border: 2px solid white; */
    /* margin-top: 50px; */
    /* margin-left: 20px; */
    /* margin-top: 80px; */
    transition: transform 2s ease;
}

.rounded{
    background-color: #c9d3d4;
    border-radius: 50%;
    /* height: 600px;
    width: 1000px;
    margin-top: 50px; */
}

.roundedMobile{
    background-color: #c9d3d4;
    border-radius: 50%;
    height: 200px;
    width: 100px;
    margin-top: 50px;
}
.home{
    /* height:100vh;
    width:100vw; */
    /* margin-top: -30px; */
    padding: 0px;
    margin: 0px;
}

.color-white{
    color: aliceblue;
    /* background-color: red; */
    margin-top: 150px;
}

.line-space{
    /* margin-top: 50px; */
    line-height: 2em;
}

.tech{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr ;

}

.inner-tech{
    
    border: 2px solid black;
    border-style: solid;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    text-transform: capitalize;
    background-color: antiquewhite;
    color: black;
    border-radius: 30px;
    height: 40px;
    vertical-align: middle;
    position: relative;
    }

    .bghover:hover{
        background-color:rgb(67, 156, 215);
        transform:scale(1.1)
        
    }

    .overflow{
        overflow-y: hidden;
    }

    .texthover{
        color: rgb(50, 145, 208);
    }

    .name{
        font-family: 'Dancing Script', cursive;
        font-weight: 800;
    }

    .iam{
        font-family:  'Poppins', sans-serif;
        font-weight: 400;
    }

    /* links */

    .links{
        margin-top: 40px;
        /* margin-left: -10px; */
    }

    .l1{
        border-radius: 50%;
        margin-left: 20px;
    }

    .data{
        margin-top: 28px;
    }

    .resume:hover{
        background-color: rgb(186, 108, 108);
        transform: scale(1.2);
    }

    .project:hover{
        background-color: rgb(66, 136, 104);
        transform: scale(1.2);
    }

    .contacts:hover{
        background-color: rgb(187, 118, 50);
        transform: scale(1.2);
    }


    /* responsive */
/* 
    .bgheight{

    } */
/* bgwidth
bgmarginTop */