
.headers{
    color:aliceblue;
    /* margin-left: 100px; */
    /* margin-bottom: 40px; */
    height: 80px;
    display: flex;
    position: fixed;
    top:0px;
    background-color: rgb(48, 43, 43);
    /* width: auto; */
    /* flex-basis: 30%; */
    width: 100%;
    /* align-content: flex-end; */
    /* justify-content:space-around; */
    margin-left: 00px;

    align-items: center;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    /* text-align: center;  */
   /* margin-left: 100px; */

}
.margin-left-30px{
    margin-left: 80px;
}
/* 
.lef{
    margin-left: 500px;
} */

/* .about{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    background-color: rgb(48, 43, 43);
    justify-content: flex-start;
} */

/* .img{
    height: 100%;
    width: 50%;
    color:rgb(249, 236, 236);
    margin-top: -30px;
  
    
} */

.innerimg{
    margin-top: 120px;
}
.margin-left-20{
    margin-left: 20%;
}

.margin-left-23{
    margin-left: 23%;
}
.margin-left-26{
    margin-left: 26%;
}
.margin-left-30{
    margin-left: 30%;
}

.margin-top-10{
    margin-top: 10px;
}

.nameSize{
    font-size: 100px;
}

.nameSizeother{
    font-size: 30px;
}

.backimg{
    background-image: url("../public/anil_profile.png");
    /* background-size: 50% 50%; */
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    /* border: 2px solid white; */
    /* margin-top: 50px; */
}

.home{
    /* height:100vh;
    width:100vw; */
    /* margin-top: -30px; */
    padding: 0px;
    margin: 0px;
}

.color-white{
    color: aliceblue;
    /* background-color: red; */
    margin-top: 150px;
}

.line-space{
    /* margin-top: 50px; */
    line-height: 1.5em;
}

.tech{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr ;

}

.inner-tech{
    
    border: 2px solid black;
    border-style: dotted;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    text-transform: capitalize;
    background-color: antiquewhite;
    color: black;
    border-radius: 30px;
    /* height: 30px; */
}

.padd{
    /* padding-top: 4px; */
}