.someMyWorks{
    
    margin-left: 50%;
    color: aliceblue;

}

.projects{
    margin-top: 30px;
    margin-left: 50%;
    color: aliceblue;
    text-transform: uppercase;
}

.contact{
    display: flex;
    margin-top: 135px;
    background-color:rgb(31, 21, 21);
    height: 200px;
}
.abt{
    width:35%;
    margin-left: 10px;
    color: aliceblue;
    
}
.content{
    margin-top:10px;
    line-height: 24px;
    margin-left: 40px;
}

.project-page{
    /* height: 850px; */
    height: 100%;
    width: 100vw;
    /* background-color: rgb(48, 43, 43); */
    /* justify-content: flex-start; */
    overflow: hidden;
}

.imgages{
    border: 2px solid black;    
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-left: 100px;
}

.lists{

    margin-left: 180px;
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
    line-height: 16px;
}

.address{
    width: 50px;
    margin-left: 140px;
    margin-top: 10px;
    line-height: 32px;

}

.below{
    margin-top: 20px;
}

.mybiobackup{
    background-image: url("../public/bio_backup.jpeg");
    background-repeat: no-repeat;
    /* background-size: 600px 400px; */
}

.admin_img{
    background-image: url("../public/admin_side.png");
    background-repeat: no-repeat;
}

.memory_game1{
    background-image: url("../public/memory_game1.png");
    background-repeat: no-repeat;
}

.memory_game2{
    background-image: url("../public/memory_game2.png");
    background-repeat: no-repeat;
}


.quiz1{
    background-image: url("../public/quiz1.png");
    background-repeat: no-repeat;
}

.quiz2{
    background-image: url("../public/quiz2.png");
    background-repeat: no-repeat;
}

.img_div{
    height: 400px;
    width: 650px;
    margin-top: 40px;

}

.memory{
    background-size: 500px 500px;
}

.pg{
    height: 100%;
    background-image: url("../public/projects_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.para{
    display: none;
    color: rgb(22, 7, 7);
    /* margin-right: 30px; */
    margin-left: -20px;
}

.hov:hover ~ .para{
    display: block;
}

.hov:hover + .img_div{
    display: none;
}

.skillNames{
    margin-left: -10px;
    margin-top: 40px;
}


.desc{
    display: none;
    margin-top: 100px;
    /* text-align: center; */
    /* background-color: burlywood; */
    width: fit-content;
    margin-left: 150px;
    text-transform: capitalize;

}
.secImg:hover .desc{
    display: block;
}


.traingle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(105, 60, 60);
   margin-left:50px
  }

.bd{
height:100px;
width:300px;
/*   border:2px solid black; */
background-color: rgb(105, 60, 60);
text-align: center;
color: white;
}

.headrs{
    position: absolute;
    margin-left: 780px;
}
.up{
    position: absolute;
    right: 30px;
    background-color: black;
    color: white;
    width: 40px;
    text-align: center;
}

.atag{
    text-decoration: none;
    color: black;
}